@import url('http://fonts.cdnfonts.com/css/arcade-classic');

h1{
    font-family: 'ArcadeClassic', sans-serif;
}

.columns {
    justify-content: space-between;
}

.snake-display,
nn-display {
    padding: 0px;
    margin: 0px;
}

#main-snake,
nn-display {
    width: 100%;
}

.secondary-snake {
    padding-bottom: .25rem;
}
.secondary-snake:last-of-type {
    padding-bottom: .75rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    grid-gap: 20px;
}

#controls {
   min-width: 478px;
}

.level-item {
    margin-left: 0rem!important;
    margin-right: .0rem!important;
}
.level-left .level-item:not(:last-child) {
    margin-right: .25rem!important;
}
.level-right .level-item:not(:first-child) {
    margin-left: .25rem!important;
}

.border-left {
    border-left: 1px solid white;
}
.border-right {
    border-right: 1px solid white;
}
.border-top {
    border-top: 1px solid white;
}
.border-bottom {
    border-bottom: 1px solid white;
}


.multi-button > button, .multi-button > button.is-small {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px !important;
}

.multi-button > button:first-of-type {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.multi-button > button.is-small:first-of-type {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.multi-button > button:last-of-type {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.multi-button > button.is-small:last-of-type {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

input[type="range"] {
    margin-left: 1rem;
}

.checkbox > input {
    margin-right: .25rem;
}

input[type="file"] {
    display: none;
}

.one-line-notif {
    display: inline-block;
    font-size: .75rem;
    padding-left: 1em;
    padding-top: calc(.5em - 1px);
    padding-bottom: calc(.5em - 1px);
    padding-right: 2rem!important;
    border-radius: 2px;
    border: 1px solid #ff6181;
}

.one-line-notif .delete {
    margin-top: -.25rem;
    margin-right: 0px;
}